.retailer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.retailer {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px;
    padding: 20px;
    background-color: #ccc;
}

.retailer-flowers,
.retailer-distributors,
.retailer-nurseries {
    background-color: #ebe6e6;
    color: black;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.retailer-info {
    list-style: none;
    padding: 5px 0;
}

h1, h2, h3 {
    text-decoration: underline;
    font-size: 2rem;
    margin-bottom: 15px;
}

ul {
    padding-left: 0;
}

.retailer-flowers ul,
.retailer-distributors ul,
.retailer-nurseries ul {
    list-style-type: none;
    width: 150px; /* Same width as the nursery items */
    height: 150px; /* Same height as the nursery items */
    padding: 10px;
    border: 1px solid #ccc;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: antiquewhite;
}

/* Add even spacing between flower and distributor items */
.retailer-flowers,
.retailer-distributors,
.retailer-nurseries {
    display: flex;
    flex-wrap: wrap; /* Wrap items if there's not enough space */
    justify-content: space-evenly; /* Even spacing between items */
}
