@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Quicksand&family=Roboto:wght@100&display=swap");

body,
button,
input,
select,
textarea {
  font-family: "Nunito", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
/* This prevents all the links in the app from turning purple after visiting */
a:visited {
  color: inherit;
}
/* This prevents all the inputs in the app from having that blue outline when in focus */
input:focus {
  outline: none;
}

body {
  background-color: rgb(158, 155, 155);
  margin: 0;
}